In [1]:
#Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import time
import datetime

/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("./seattleWeather_1948-2017.csv")
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25551 entries, 0 to 25550
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    25551 non-null  object
 1   PRCP    25548 non-null  float64
 2   TMAX    25551 non-null  int64
 3   TMIN    25551 non-null  int64
 4   RAIN    25548 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 998.2+ KB

In [4]:
df.describe()

               PRCP          TMAX          TMIN
count  25548.000000  25551.000000  25551.000000
mean       0.106222     59.544206     44.514226
std        0.239031     12.772984      8.892836
min        0.000000      4.000000      0.000000
25%        0.000000     50.000000     38.000000
50%        0.000000     58.000000     45.000000
75%        0.100000     69.000000     52.000000
max        5.020000    103.000000     71.000000

In [5]:
df[pd.isnull(df['PRCP'])]

             DATE  PRCP  TMAX  TMIN RAIN
18415  1998-06-02   NaN    72    52  NaN
18416  1998-06-03   NaN    66    51  NaN
21067  2005-09-05   NaN    70    52  NaN

In [6]:
#Finding rows having null values in the 'RAIN' columns
df[pd.isnull(df['RAIN'])]

             DATE  PRCP  TMAX  TMIN RAIN
18415  1998-06-02   NaN    72    52  NaN
18416  1998-06-03   NaN    66    51  NaN
21067  2005-09-05   NaN    70    52  NaN

In [7]:
#It is safer to insert a mean value in the PRCP column instead of dropping one row.
df['PRCP'].mean()

0.10622162204477846

In [8]:
def RAIN_INSERTION(cols):
    RAIN=cols[0]
    if pd.isnull(RAIN):
        return 'False'
    else:
        return RAIN

In [9]:
def PRCP_INSERTION(col):
    PRCP=col[0]
    if pd.isnull(PRCP):
        return df['PRCP'].mean()
    else:
        return PRCP

In [10]:
#Applying function to determine the chances of rain
df['RAIN']=df[['RAIN']].apply(RAIN_INSERTION,axis=1)

In [11]:
##Applying function to determine the chances of rain
df['PRCP']=df[['PRCP']].apply(PRCP_INSERTION,axis=1)

In [12]:
df[pd.isnull(df['RAIN'])]

Empty DataFrame
Columns: [DATE, PRCP, TMAX, TMIN, RAIN]
Index: []

In [13]:
#Importing Logistic Regression model
from sklearn.linear_model import LogisticRegression

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [14]:
lr= LogisticRegression()